::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;

    background-color: #0F0F0F;
}

pre {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    
    width: min-content;

    border-radius: 10px;
    text-align: center;
    font-size: 1.5vw;
    
    background-color: transparent;
    animation: trans 6s infinite alternate linear;
}

@keyframes trans {
    0% {color: #9FFF9F; box-shadow: 0 0 0 1px #9FFF9F9F;}
    50% {color: #9F9FFF; box-shadow: 0 0 0 1px #FF9F9F9F;}
    100% {color: #FF9F9F; box-shadow: 0 0 0 1px #9F9FFF9F;}
}

@media screen and (orientation: portrait) {
    pre {
        font-size: 2vw;
    }
}